input{
    position: absolute;
    left: 500px;
    right: 0px;
    padding: 0px;
    background-color: #00bfff70;
}
.macaco{
    display: flex;
    flex-direction: row;

}

.sub{
    color: red;
}

#dree {
    background: url(logo1.jpg) no-repeat center 0px / 400px;



    
}
p{
    text-indent: 100px;
    text-align: justify;
}
a:hover {
    color: rgb(179, 255, 0);

}
a{
    text-decoration: none;
    background-color: yellow;
    color: rgb(255, 0, 221);
    padding: 0px;
    margin: 0px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 200px;
    height: 40px;
    font-size: 19px;
}

#obMenu{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#linear {
    background: repeating-radial-gradient(circle,#73b220,#87CEEB,#00FF00
    );
}

.home {
    background-image: url(Admiral_Akainu.png);
    background-size: 100px, 100px;
    background-size: right;
}

#center{
    max-width: 1100px;
    margin:0 auto;
    padding: 0 2%;
    display: flex;
    text-align: right;

}

#cabecalho{
    border-bottom: 3px solid #000000;
    text-align: right;

}

.fixed-top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}


header{
    background-color: wheat;
    padding: 20px;
    border-bottom: 2px solid #87CEEB;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  section:nth-of-type(1){
      background-image: url("tax.jpg");

  }
  section:nth-of-type(2){
    background-image: url("FOLHA.jpg");
 }
section:nth-of-type(3){
    background-image: url("advocacia.jpg");

}
   section{
       width: 100%;
       min-height: 90vh;
       display: grid;
       place-items: center;
       background-size: cover;
       background-repeat: no-repeat;
       background-attachment: fixed;
   } 

  section p{
      font-size: 32px;
      color: aqua;
      text-align: center;
      width: 100%;
      max-width: 600px;
      padding: 2%;
  }